.deps
.libs
*.a
*.gz
*.la
*.lo
*.o
aclocal.m4
autom4te.cache
build-scripts/*.m4
build-scripts/config.guess
build-scripts/config.sub
build-scripts/depcomp
build-scripts/install-sh
build-scripts/ltmain.sh
build-scripts/missing
config.cache
config.log
config.status
configure
libtool
Makefile
Makefile.in
Doxyfile
stamp-h1
twolame.pc

doc/html/*.html
doc/html/*.png
doc/twolame.1
doc/twolame.1.xml
doc/html/doxygen.css
doc/html/doxygen.png
doc/html/tabs.css

libtwolame/config.h
libtwolame/config.h.in
simplefrontend/stwolame
frontend/twolame

tests/*.mp2
tests/*.raw
