#!/usr/bin/make -f
# Sample debian/rules that uses debhelper.
# GNU copyright 1997 to 1999 by Joey Hess.

# Uncomment this to turn on verbose mode.
#export DH_VERBOSE=1

# This is the debhelper compatibility version to use.
export DH_COMPAT=4

# These are used for cross-compiling and for saving the configure script
# from having to guess our platform (since we know it already)
DEB_HOST_GNU_TYPE   ?= $(shell dpkg-architecture -qDEB_HOST_GNU_TYPE)
DEB_BUILD_GNU_TYPE  ?= $(shell dpkg-architecture -qDEB_BUILD_GNU_TYPE)


ifneq (,$(findstring debug,$(DEB_BUILD_OPTIONS)))
        CFLAGS += -g
endif
ifeq (,$(findstring nostrip,$(DEB_BUILD_OPTIONS)))
        INSTALL_PROGRAM += -s
endif

config.status: configure
        dh_testdir
        # Add here commands to configure the package.
        ./configure --host=$(DEB_HOST_GNU_TYPE) --build=$(DEB_BUILD_GNU_TYPE) --prefix=/usr --mandir=\$${prefix}/share/man --infodir=\$${prefix}/share/info


build: build-stamp
build-stamp:  config.status
        dh_testdir

        # Add here commands to compile the package.
        $(MAKE)

        # the build should fail if the tests are not successful
        $(MAKE) check

        touch build-stamp

clean:
        dh_testdir
        dh_testroot
        rm -f build-stamp 

        # Add here commands to clean up after the build process.
        -$(MAKE) distclean

        dh_clean -a

install: build
        dh_testdir
        dh_testroot
        dh_clean -k -a
        dh_installdirs

        # Add here commands to install the package into debian/tmp
        $(MAKE) install DESTDIR=$(CURDIR)/debian/tmp

# Build architecture-independent files here.
binary-indep: build install
# We have nothing to do by default.

# Build architecture-dependent files here.
binary-arch: build install
        dh_testdir
        dh_testroot
        dh_install -a --list-missing

        dh_installdocs -a
        # files listed here instead of <package>.{docs,examples} so that I can glob
        #dh_installexamples -plibtwolame0-dev
        dh_installchangelogs -a ChangeLog
        dh_strip -a
        dh_compress -a
        dh_fixperms -a
        dh_makeshlibs -plibtwolame0
        dh_installdeb -a
#       dh_perl
        dh_shlibdeps -plibtwolame0
        dh_shlibdeps -ptwolame -ldebian/tmp/usr/lib
        dh_gencontrol -a
        dh_md5sums -a
        dh_builddeb -a

binary: binary-indep binary-arch
.PHONY: build clean binary-indep binary-arch binary install 
